/*style the bullets in the unordered lists*/
ul{
    list-style-type:disc;
}

/*Style header*/
h1{
    border: 4px solid blue;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

/*create a class with specific bullets (none)*/
.nobullet{
    list-style-type: none;
}

#emli {
	font-style: italic;
}

#emstr {
	font-weight: bold;
}